{% extends "layout.html" %}
{% block content %}

<div class="ui container" style="padding-top: 25px;">
    <div class="ui segment">
      <h2 class="ui header">{{ selected_movie }}</h2>
      <p>{{ description }}</p>
    </div>
</div>

<div style="padding-left: 160px; padding-top: 25px; padding-right: 160px">
    <h3>Movie recommendation based on metadata</h3>
    <div class="ui celled horizontal list">
        {% for title in metadata_based_rec %}
            <div class="item"><a href="/movie/{{ title }}">{{title}}</a></div>
        {% endfor %}
    </div>

    <h3>You may also like</h3>
    <div class="ui celled horizontal list">
        {% for title in plot_based_rec %}
            <div class="item"><a href="/movie/{{ title }}">{{title}}</a></div>
        {% endfor %}
    </div>
</div>

{% endblock %}