{% extends "layout.html" %}
{% block content %}

<div class="ui breadcrumb" style="padding-left: 100px; padding-top: 25px">
  <a class="section" href="/">Home</a>
  <div class="divider"> / </div>
  <div class="active section">Search for: <a href="#">{{ query }}</a></div>
</div>

<div class="ui cards three left aligned" style="padding-left: 100px; padding-right: 100px; padding-top: 25px;">
  {% for movie_info in suggestions %}
      <div class="card">
        <div class="content">
          <div class="header"><a href="/movie/{{ movie_info['title'] }}">{{ movie_info['title'] }}</a></div>
          <div class="meta">{{", ".join(movie_info['genres'])}}</div>
          <div class="description">
            {{ movie_info['description'] }}
          </div>
        </div>
      </div>
  {% endfor %}
</div>


{% endblock %}